authentication-service/.env
authentication-service/.authService

orders-service/.env
orders-service/ordersAddressesService

products-service/.env
products-service/productsService

cart-service/.env
cart-service/cartService

broker-service/.env
broker-service/brokerService

reviews-service/.env
reviews-service/reviewsService

notification-service/notificationService

inventory-service/inventoryService
inventory-service/.env

search-service/searchService

favorite-service/.env
favorite-service/favoriteService